* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  height: 868px;
  width: 550px;
  border-radius: 0px;
  background-color: #23252c;
  margin: auto;
  border: 1px solid #23252c;
}

.card {
  width: 317px;
  height: 780px;
  background: #1a1b21;
  margin: auto;
  margin-top: 44px;

  border-radius: 10px 10px 0 0;
}
.imageContainer {
  border-radius: 10px 10px 0 0;
}
.imgSmall {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.card-info {
  margin-left: 35px;
  margin-right: 35px;
}
.card-info > h1 {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}

.card-info > h2 {
  color: #f3bf99;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

.card-info > h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  /* identical to box height, or 15px */
  color: white;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 115px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;

  box-sizing: border-box;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.email-btn {
  border: 1px solid #d1d5db;
  background-color: white;
}
.linkedin-btn {
  background-color: #5093e2;
  color: white;
  border: 1px solid #4396f5;
}
.mail-icon {
  padding-right: 8px;
}
.linkedin-icon {
  padding-right: 8px;
}
